<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
<a [routerLink]="['/map']">Map</a>
<a [routerLink]="['/my-bookings']">Bookings</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#" class="active" id="login-form-link">Login</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" id="register-form-link">Register</a>
                    </div>
                </div>
                <hr>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="login-form">
                            <input type="text" name="email" placeholder="Email" id="LoginEmail">
                            <input type="password" name="pass" placeholder="Password" id="LoginPass">
                            <input type="button" name="login" class="login loginmodal-submit" value="Login" data-dismiss="modal"
                                   (click)="login()">
                        </form>
                        <form id="register-form">
                            <input type="text" name="name" placeholder="Name" id="RegisterName">
                            <input type="text" name="email" placeholder="Email" id="RegisterEmail">
                            <input type="password" name="pass" placeholder="Password" id="RegisterPass">
                            <input type="password" name="pass" placeholder="Confirm Password" id="ConfirmPass">
                            <input type="button" name="register" class="register registermodal-submit" data-dismiss="modal"
                                   value="Register" (click)="register()">
                        </form>
                    </div>
                </div>
            </div>
            <div class="login-help">
                <a href="#">Register</a> - <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>

</div>