<a href="#" data-toggle="modal" data-target="#login-modal">My Account</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>My Account</h1><br>
        <form>
            <input type="text" name="name" placeholder="Name" value="{{currentUser.name}}" id="argName">
            <input type="text" name="email" placeholder="Email" value="{{currentUser.email}}" vid="argEmail">
            <input type="text" name="address" placeholder="Address" value="{{currentUser.address}}" id="argAddress">
            <input type="button" name="update" class="login loginmodal-submit" value="Update">

        </form>
    </div>
</div>

</div>