<nav class="navbar-dark bg-inverse">
    <div class="container">
        <!--<a [routerLink]="" class="navbar-brand"><img src="../../../favicon.png" alt=""></a>-->
        <a routerLink="parking" class="navbar-brand">Parking</a>
        <a routerLink="user" class="navbar-brand">User</a>
        <a routerLink="email" class="navbar-brand">Email</a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">manioannides@gmail.com</a>
                <div class="dropdown-menu" aria-labelledby="nav-dropdown">
                    <a href="#" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>