<div class="modal fade" [id]="modalId" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="parkingForm" >
                <div class="modal-body">
                    <div class="form-inline" >
                        <label for="title-field" >Change Title</label>
                        <input type="text" class="form-control" id="title-field" placeholder="title" formControlName="title">
                    </div>
                    <div class="form-inline" >
                        <label for="address-field">Change Address</label>
                        <input type="text" class="form-control" id="address-field" placeholder="address" formControlName="address">
                    </div>
                    <div class="form-inline" >
                        <label for="type-field" >Change type</label>
                        <input type="text" class="form-control" id="type-field" placeholder="type" formControlName="type">
                    </div>
                    <div class="form-inline" >
                        <label for="lat-field" >Change lat</label>
                        <input type="text" class="form-control" id="lat-field" placeholder="lat" formControlName="lat">
                    </div>
                    <div class="form-inline" >
                        <label for="lng-field" >Change lng</label>
                        <input type="text" class="form-control" id="lng-field" placeholder="lng" formControlName="lng">
                    </div>
                    <div class="form-inline" >
                        <label for="size-field" >Change size</label>
                        <input type="text" class="form-control" id="size-field" placeholder="size" formControlName="size">
                    </div>
                    <div class="form-inline" >
                        <label for="availableSpots-field">Change availableSpots</label>
                        <input type="text" class="form-control" id="availableSpots-field" placeholder="availableSpots" formControlName="availableSpots">
                    </div>
                    <div class="form-inline" >
                        <label for="availability-field" >Change availability</label>
                        <input type="text" class="form-control" id="availability-field" placeholder="availability" formControlName="availability">
                    </div>
                    <div class="form-inline" >
                        <label for="rate-field">Change rate</label>
                        <input type="text" class="form-control" id="rate-field" placeholder="rate" formControlName="rate">
                    </div>
                    <div class="form-inline" id="idDiv">
                        <label for="id-field" >Change id</label>
                        <input type="text" class="form-control" id="id-field" placeholder="id" formControlName="id" [readOnly]="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-xl" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success btn-xl" type="submit" data-dismiss="modal" (click)="submitForm()" [disabled]="parkingForm.invalid">Save</button>
                    <button class="btn btn-danger btn-xl" type="submit" data-dismiss="modal" (click)="deleteParkingStation()" >Remove Station</button>

                </div>
            </form>
        </div>
    </div>
</div>
