<div class="wrapper" *ngIf="currentBooking">
    <div class="info-booking">

        <b class="info-booking">Title</b>: {{ currentBooking.parkingStation.title }}<br>
        <b class="info-booking" >Address</b>: {{ currentBooking.parkingStation.address }}<br>
        <b class="info-booking" >Rate</b>: {{ currentBooking.parkingStation.rate }}<br>
        <b class="info-booking">Date</b>: {{ currentBooking.date }}<br>
        <b class="info-booking" >Start Time</b>: {{ currentBooking.startTime }}<br>
    </div>
</div>