<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
        <div *ngIf="currentUser">
            <h1>Welcome {{currentUser.name}}</h1>
        </div>
        <div id="menu" [hidden]="userMenuHidden">
            <a (click)="replaceMenuContent('menu','account')">My Account</a>
            <a (click)="replaceMenuContent('menu','booking')">My Bookings</a>
        </div>
        <div id="myAccount" [hidden]="userAccountHidden">
            <user-account></user-account>
            <a (click)="replaceMenuContent('account','menu')">Menu</a>
        </div>
        <div id="myBookings" [hidden]="userBookingsHidden">
            <my-bookings></my-bookings>
            <a (click)="replaceMenuContent('booking','menu')">Menu</a>
        </div>
        <div>
            <a (click)="signOut()">Sign Out</a>
        </div>
    </div>
</div>

