<div id="wrapper" class="menu-container">
    <div id="my-menu-icon" class="my-menu-icon" (click)="changeMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>
<div id="myNav" class="overlay">
    <a [hidden]="!userMenuHidden" class="closebtn" (click)="replaceMenuContent('','menu')">Menu</a>

    <div class="overlay-content">
        <div *ngIf="currentUser">
            <h1>Welcome {{currentUser.name}}</h1>
        </div>
        <div id="menu" [hidden]="userMenuHidden">
            <a [hidden]="currentBooking" (click)="replaceMenuContent('menu','account')">My Current Booking</a>
            <a (click)="replaceMenuContent('menu','account')">My Account</a>
            <a (click)="replaceMenuContent('menu','booking')">My Bookings</a>
        </div>
        <div id="myAccount" [hidden]="userAccountHidden">
            <user-account></user-account>
        </div>
        <div id="myBookings" [hidden]="userBookingsHidden">
            <my-bookings></my-bookings>
        </div>
        <div [hidden]="userMenuHidden">
            <a (click)="signOut()">Sign Out</a>
        </div>
    </div>
</div>


