<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>My Bookings</h1><br>
        <p>
           <br> 
            Title: {{ currentBooking.parkingStation.title }} <br>
            Address: {{ currentBooking.parkingStation.address }}<br>
            Date: {{ currentBooking.date }}<br>
            Start Time: {{ currentBooking.startTime }}<br>
            End Time: {{ currentBooking.endTime }}<br>
            Total Cost: {{ currentBooking.totalCost }}<br>
        </p>
    </div>
</div>
